body, container {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

#header {
  margin-top: 4em;
  margin-bottom: 2em;
}

#header h1 {
  font-weight: bold;
}

#hiddenTemplates {
  display: none;
}

#error {
  display: none;
}

#login {
  display: none;
}

#authInfo {
  margin-bottom: 0.6em;
}

#loginModal iframe {
  border: 0;
  width: 100%;
  height: 500px;
}
